# requirements.txt

# Web Server
fastapi
uvicorn[standard]
python-dotenv

# AI & Machine Learning
torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
tensorflow==2.15.0
tensorflow-hub==0.16.1
pytorchvideo==0.1.5
librosa==0.10.1
opencv-python-headless==4.8.1.78
numpy==1.26.2

# Web3 & APIs
web3==6.12.0
requests==2.31.0

# Video Processing
moviepy==2.0.0.dev2